&__properties {
  display: grid;
  grid-template-columns: 0.8fr 0.8fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;

  .properties {
    &__pressure {
      & .subblock__pic {
        margin: 0 auto;
      }
    }
  }

  .subblock {
    display: flex;
    padding: 15px 10px;
    border-radius: 10px;
    background: rgba(102, 96, 200, 0.6);

    @media (max-width: $bpMobS) {
      padding: 5px;
    }


    &__pic {
      max-width: 36px;

      & > img {
        height: 100%;
      }
    }

    &__text {
      display: flex;
      gap: 2px;
      flex-direction: column;
      justify-content: center;
      font-size: calc(min(3vw, 16px));
      margin: 0 auto;
      text-align: center;
    }

    &__name {
      font-family: Lato, Roboto, Arial, Helvetica, sans-serif;
      font-weight: 400;
      letter-spacing: 1px;
      color: #e7e6fb;
    }

    &__num {
      display: flex;
      align-self: flex-start;
      font-family: Lato, Roboto, Arial, Helvetica, sans-serif;
      font-weight: 700;
      font-size: 0.8em;
      color: #e7e6fb;
    }
  }
}