//common
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-width: 100%;
    height: 100%;
    overflow: hidden;

    font-family: Lato, Roboto, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #c2bff4;
}

// fonts
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
//

.wrapper {
    height: 100%;
    width: 100%;
}
.background {
    & > img {
        object-position: right;
        height: 100vh;
        width: 100%;
    }
}
.blur {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(10px);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 80%;
    height: 62%;
}
.cards {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1.73fr 1fr 1fr;
    grid-template-rows: 1fr 0.89fr;
    gap: 25px;
    &__item {
        background: #6c67d0a8;
        border-radius: 10px;
    }

    &__item--1 {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }

    &__item--2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    &__item--3 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    &__item--4 {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }
}

.card {
    &__blur {
        //backdrop-filter: blur(10px);
        border-radius: 10px;
        height: 100%;
    }

    &__blocks {
        display: grid;
    }

    &__block {
    }

    &__blocks--1 {
        height: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(7, 1fr);
        column-gap: 12px;
        padding: 20px;

        position: relative;

        & > img {
            height: 300px;
            position: absolute;
            top: -120px;
            left: -120px;
        }
    }

    &__blocks--2 {
        height: 100%;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
        padding: 16px;
        column-gap: 16px;
    }

    &__blocks--3 {
        height: 100%;
        padding: 16px;
        grid-template-rows: repeat(3, 1fr);
    }

    &__blocks--4 {
        height: 100%;
        padding: 20px;
        grid-template-columns: repeat(5, 1fr);
    }
}
.max-min {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &__max {
        font-family: Lato, Roboto, Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: #fff;
        padding-right: 5px;
    }

    &__min {
        font-family: Lato, Roboto, Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: #c2bff4;
        padding-left: 5px;
    }
}
.block {
    text-align: center;

    &__day-name {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        display: flex;
        justify-content: center;
        align-self: flex-end;

        font-size: 28px;
        padding-left: 40px;
    }

    &__city {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        display: flex;
        justify-content: flex-end;
        align-self: flex-start;

        font-family: Lato, Roboto, Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 16px;
        color: #c2bff4;
    }

    .city {
        position: relative;

        & > img {
                height: 100%;
            }

        &__subblock {
            
            display: flex;
            transition: transform .2s ease-out;
    
            &:hover {
                cursor: pointer;
                //font-size: 20px;
                transform: scale(1.2);
            }
        }

        &__list {
        position: absolute;
        top: 20px;
        left: 2px;
        background: #000;
        z-index: 100;

        
    }

    .list {
        &__item {
            width:max-content;
            padding: 10px 0;
        }
    }

        &__input {
            
        }
    }

    

    &__weather-description {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
        display: flex;
        justify-content: center;
        align-self: center;

        font-size: 24px;
    }

    &__temp {
        grid-column: 2 / 3;
        grid-row: 2 / 5;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

        .temp {
            &__number {
                grid-column: 2 / 3;
                grid-row: 1 / 3;

                display: flex;
                justify-content: center;
                align-items: center;

                font-family: Lato, Roboto, Arial, Helvetica, sans-serif;
                font-weight: 700;
                font-size: 88px;
                color: #fff;
                letter-spacing: 5px;
            }

            &__name {
                grid-column: 3 / span 1;
                grid-row: 1 / 2;
                display: flex;
                align-items: center;

                font-family: Lato, Roboto, Arial, Helvetica, sans-serif;
                font-weight: 700;
                font-size: 24px;
                color: #dad8f7;
            }
            &__max-min {
                grid-column: 2 / 3;
                grid-row: 3 / 4;
                display: flex;
                justify-content: end;
                align-items: start;
                padding-right: 15px;
            }
        }
    }

    &__hours {
        display: flex;
        
        justify-content: center;
        align-items: center;
        grid-column: 1 / 4;
        grid-row: 4 / 7 ;
        .hours {
            

            &__cont {
                display: flex;
                justify-content: space-around;
                width: 100%;
            }

            &__hour {
                display: flex;
                flex-direction: column;
                
                    display: flex;
                    flex-direction: column;
                    & img {
                      height: 100px;  
                    }
            
            }
            .hour {

            }
        }
    }

    &__wind {
        grid-column: 1 / 2;
        grid-row: 7 / 8;
    }

    &__humidity {
        grid-column: 2 / 3;
        grid-row: 7 / 8;
    }

    &__rain-posib {
        grid-column: 3 / 4;
        grid-row: 7 / 8;
    }

    .subblock {
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 10px;
        border-radius: 10px;
        background: rgba(102, 96, 200, 0.6);

        &__pic {
            grid-column: 1 / 2;
            grid-row: 1 / 3;

            display: flex;
            justify-content: center;
            align-items: center;

            & > img {
                height: 60px;
            }

            & > img:first-child {
                position: relative;
            }

            & > img:last-child {
                position: absolute;
            }
        }

        &__text {
            grid-column: 2 / 3;
            grid-row: 1 / 2;

            display: flex;
            justify-content: start;
            align-items: end;

            font-family: Lato, Roboto, Arial, Helvetica, sans-serif;
            font-weight: 400;
            font-size: 18px;
            letter-spacing: 1px;
            color: #e7e6fb;
        }

        &__num {
            grid-column: 2 / 3;
            grid-row: 2 / 3;

            display: flex;
            justify-content: start;
            align-items: start;

            font-family: Lato, Roboto, Arial, Helvetica, sans-serif;
            font-weight: 700;
            font-size: 18px;
            color: #e7e6fb;

            & > span:nth-child(2) {
                display: flex;

                font-family: Lato, Roboto, Arial, Helvetica, sans-serif;
                font-weight: 700;
                font-size: 14px;
                color: #dad8f7;
            }
        }
    }

    &__text {
        grid-column: 3 / 5;
        grid-row: 1 / 2;
    }

    &__date {
        grid-column: 3 / 5;
        grid-row: 3 / 5;
    }

    &__properties {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(6, 1fr);
    }

    &__name {
        grid-row: 1 / 2;
    }

    &__sunlight {
        grid-row: 2 / 4;
    }

    &__day {
    }
}
.property {
    grid-column: 1 / 7;
    grid-row: 6 / 7;

    &__item {
    }

    &__item--1 {
    }

    &__item--2 {
    }

    &__item--3 {
    }

    &__item--4 {
    }

    &__item--5 {
    }

    &__item--6 {
    }
}
.day {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    &__text {
        grid-column: 1 / 2;
        grid-row: 1 / 2;

        font-size: 18px;
        letter-spacing: 1px;
        color: #dad8f7;

        margin: auto;
    }

    &__pic {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        & > img {
            height: 100px;
        }
    }

    &__temp {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        margin-left: 2px;
    }
}

.hide {
    display: none;
}